# Ignore files created by virtualenv
lib/
include/
bin/*
distribute*.tar.gz

!bin/fix-permissions # Fixes permission issues on our system
!bin/application.wsgi # Script that will be used to actually run the web site

# Ignore all logs
*.log

# Ignore all database files
*.db
*.sqlite

# Ignore all hidden files, except for git-specific files
.*
!.gitignore
!.gitmodules

# Project-specific files
conf/local.ini

