git+http://github.com/django/django.git
git+http://github.com/django-extensions/django-extensions.git
git+http://github.com/monokrome/django-navigation.git
git+http://github.com/monokrome/django-news.git

