<!DOCTYPE html>
{% load nav %}

<html>
	<head>
	{% block headers %}
		<title>{% block title %}{% endblock title %}</title>

	{% block meta %}
		<meta charset=UTF-8>
	{% endblock meta %}

	{% block styles %}
	{% endblock styles %}

	{% endblock headers %}
	</head>

	<body>
		<div id="page-wrapper">
			<div id="header">
				<h1 id="site-name">{% block site_name %}{% endblock site_name %}</h1>

				<div id="navigation-wrapper">
					<div id="primary-navigation">
						{% block primary_navigation %}{% navtree "primary" user %}{% endblock primary_navigation %}
					</div>

					<div id="account-navigation">
						{% block account_navigation %}{% navtree "account" user %}{% endblock account_navigation %}
					</div>
				</div>
			</div>

			<div id="content-wrapper">
				<div id="content">
					{% block content %}{% endblock content %}
				</div>
			</div>

			<div id="footer-push"></div>
		</div>

		<div id="footer">
			{% block footer-main %}
			{% endblock footer-main %}

			<div id="footer-navigation">
				{% navtree "footer" user %}
			</div>

			<div id="footer-legal">
				{% block footer_text %}{% endblock footer_text %}
			</div>
		</div>

		{% block scripts %}
		{# Scripts exist in the body for loading performance reasons. #}
		{% endblock scripts %}
	</body>
</html>

